version: "3.9"

services:
  mnemo-api:
    build: ../backend
    ports:
      - "7700:7700"

  mnemo-ui:
    build: ../ui
    ports:
      - "5173:5173"

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"

  surrealdb:
    image: surrealdb/surrealdb:latest
    command: start --log trace
    ports:
      - "8000:8000"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
